@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');
/* You can add global styles to this file, and also import other style files */

body {
    background-image: url('https://www.runescape.com/img/rs3/content_repeat_y.jpg');
    background-position: center;
    background-size: 120%;
    animation: grow 2s forwards;
    overflow-x: hidden;
    overflow-y: scroll;
}
html, body { height: 100%; }
body { margin: 0; font-family: 'Inconsolata', monospace; }

mat-dialog-container {
    background-color: #02131A !important;
    border: 1px solid #fff;
}

.cdk-global-scrollblock {
    overflow-y: hidden;
}

@keyframes grow {
    from {
        background-size: 120%;
    }
    to {
        background-size: 100%;
    }
}